[Unit]
Description=Panteon Go Web Server
After=network.target
After=postgresql.service

[Service]
User=tabula
WorkingDirectory=/home/tabula/go/src/github.com/denisbakhtin/panteon
ExecStart=/home/tabula/go/src/github.com/denisbakhtin/panteon/panteon-go -mode=release
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target

