// reassign or declare new bootstrap variables here
// $fa-font-path : "../fonts";
$primary: #008fa1;
$content-bg: lighten(#F1F3EC, 2%);
$divider: #DEE0E9;
$secondary: #5d877f;
$warning: #FF5252;
$danger: #D32F2F;

$thead-grey-color: #fff;
$thead-grey-bg: $primary;