{{define "search/show"}}
{{template "header" .}}
{{template "navbar" .}}

<div id="one-column" class="category-show">
  <h4>{{.Title}}</h4>
  {{if len .Products | lt 0}}
    <div class="row">
      {{range .Products}}
        {{template "product_preview" .}}
      {{end}}
    </div>
  {{end}}
</div>

{{template "our_works" .}}
{{template "our_advantages" .}}

{{template "footer" .}}
{{end}}
