{{define "emails/admin_orderconsult"}}
<html>
  <head>
  </head>
  <body>

    <p>Заказ консультации на сайте http://www.panteon-vlz.ru.</p>
    <p>Имя заказчика: {{.OrderConsult.Name}}.</p>
    <p>Контактный телефон: {{.OrderConsult.Phone}}.</p>

    <p>&nbsp;</p>
    <p>Данное письмо было отправлено автоматически, отвечать на него не нужно.</p>
  </body>
</html>
{{end}}
