{{define "emails/order"}}
<html>
  <head>
  </head>
  <body>

    <p>Здравствуйте, {{.Order.FirstName}} {{.Order.MiddleName}}!</p>

    <p>
      Ваш заказ принят в обработку, в ближайшее время наши сотрудники свяжутся с Вами! Благодарим за то, что выбрали услуги компании "Пантеон".
    </p>
    <p>Вашему заказу присвоен номер №{{.Order.ID}}.</p>

    <p>Данное письмо было отправлено автоматически, отвечать на него не нужно.</p>
  </body>
</html>
{{end}}
