{{define "home/show"}}
{{template "header" .}}
{{template "navbar" .}}

<div id="one-column" class="home">
  <h1>{{.Title}}</h1>

  {{if len .Products | lt 0}}
    <div class="row">
      {{range .Products}}
        {{template "product_preview" .}}
      {{end}}
    </div>
  {{end}}

  <div class="description">
    {{noescape .Page.Description}}
  </div>
</div>

{{template "our_works" .}}
{{template "our_advantages" .}}

{{template "footer" .}}
{{end}}
