{
  "debug": {
    "public": "public",
    "domain": "http://localhost:8080",
    "session_secret": "session-secret-phrase",
    "signup_enabled": true,
    "database": {
      "host": "127.0.0.1",
      "name": "panteon_dev",
      "user": "your_db_user",
      "password": "your_db_user_password"
    },
    "oauth": {
      "google_client_id": "70128578-9e6hsdjsldfjksdf5lmqdq0mrr.apps.googleusercontent.com",
      "google_secret": "USJDFisOOL1Z1XkP2pOVxc4j01"
    }
  },
  "release": {
    "public": "path_to_public_dir",
    "domain": "http://mydomain.com",
    "session_secret": "session-secret-phrase",
    "signup_enabled": false, 
    "database": {
      "host": "192.168.0.1",
      "name": "panteon_dev",
      "user": "your_db_user",
      "password": "your_db_user_password"
    },
    "oauth": {
      "google_client_id": "70128578-9e6hsdjsldfjksdf5lmqdq0mrr.apps.googleusercontent.com",
      "google_secret": "USJDFisOOL1Z1XkP2pOVxc4j01"
    }
  }
}
